.circles-group {
  position: absolute;
  width: 100%;
  height: 100%;
}

.circles-group__circle {
  position: absolute;

  background-color: rgba(255, 255, 255, 0.2);

  border-radius: 50%;
}

.circles-group__circle--first {
  top: -20px;
  left: -30px;

  width: 114px;
  height: 114px;

  animation: circle1-moving 5s infinite alternate;
}

.circles-group__circle--second {
  top: -5px;
  left: 60px;

  width: 44px;
  height: 44px;
  animation: circle2-moving 5s infinite alternate;
}

.circles-group__circle--third {
  bottom: -30px;
  right: -24px;

  width: 72px;
  height: 72px;
  animation: circle3-moving 5s infinite alternate-reverse;
}

@keyframes circle1-moving {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(300%, 70%) scale(1.4);
  }
}

@keyframes circle2-moving {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(50%, 70%) scale(5);
  }
}

@keyframes circle3-moving {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: translate(-200%, -100%) scale(1.2);
  }
}